/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 de nov. de 2025, 21:31:18
    Author     : belmo
*/


html, body {
  height: 100%;
  margin: 0;
  overflow-y: hidden; /* evita a rolagem vertical */
  box-sizing: border-box;
  background-color: rgb(15, 199, 138);
}

* {
  box-sizing: inherit; /* garante que padding e borda sejam incluídos no cálculo total */
}

#page {               /* envolve #div1 + .container */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 5px;
}


#div1{
    display: flex;
    width: calc(100% - 0px);
    height: 100px;
    background-color: antiquewhite;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 10px auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 80px;
}


.container {
    flex: 1;
    display: flex;
    gap: 5px;
    background-color: rgb(234, 250, 8);
    padding: 5px;
    border-radius: 8px;
    /*height: 500px;*/
    /*margin-top: 10px;*/
    /*margin: 10px auto;*/
    min-height: 0;
}


/*
.container > div{
    background-color: rgb(143, 143, 138);
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    height: 80%;
    border-radius: 8px;
}
*/

.div3{
    flex: 1 1 0;
    min-width: 0;
    min-height: 0;     
    overflow: auto;
    /*width: 50%;*/
    background-color: rgb(21, 18, 223);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    /*margin-top: 20px;
    margin-bottom: 20px;*/
    margin: 0px;
    color: white;
    padding-left: 10px;
    
}
.div4{
    flex: 1 1 0;
    min-width: 0;
    min-height: 0;     
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    /*width: 50%;*/
    background-color: rgb(21, 18, 223);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 10px;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0px;
    
    /*margin-top: 20px;
    margin-bottom: 20px;*/
}

#div5{
    width: 100%;
    height: 20%;
    flex: 0 0 30%; 
    background-color: aquamarine;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
    padding: 5px;
}

#div6{
    width: 100%;
    height: 80%;  
    flex: 1; 
    background-color: aquamarine;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
