/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 8 de nov. de 2025, 21:31:18
    Author     : belmo
*/
body{
    background-color: rgb(15, 199, 138);
}

#div1{
    width: 100%;
    height: 100px;
    background-color: antiquewhite;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    font-size: 80px;
}


.container {
    display: flex;
    gap: 5px;
    background-color: rgb(234, 250, 8);
    height: 500px;
    border-radius: 8px;
    padding: 0;
    margin-top: 10px;
}


/*
.container > div{
    background-color: rgb(143, 143, 138);
    margin: 2px;
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    height: 80%;
    border-radius: 8px;
}
*/

.div3{
    width: 50%;
    background-color: rgb(21, 18, 223);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    padding-left: 10px;
}
.div4{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 50%;
    background-color: rgb(21, 18, 223);
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 15px;
    justify-content: center;
    flex-wrap: nowrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

#div5{
    width: 100%;
    height: 20%;
    background-color: aquamarine;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}

#div6{
    width: 100%;
    height: 80%;   
    background-color: aquamarine;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 5px;
}
